.DS_Store
.idea/
xcuserdata/
DerivedData/
build/
*.xcodeproj
Config/Local.xcconfig
Packages/MatrixRustSDK/MatrixSDKFFI.xcframework/
Packages/MatrixRustSDK/Sources/
Packages/MatrixRustSDK/SDKBuild.xcconfig
.build/
.swiftpm/
